@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --background: rgb(246, 246, 236);
  --grey: rgb(222, 227, 229);
  --blue: rgb(0, 89, 217);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

input[type="radio"] {
  all: unset;
  visibility: hidden;
  opacity: 0;
}

hr {
  margin: 0;
  width: 100%;
  height: 0.094rem;
  border-radius: 0.625rem;
  background-color: var(--grey);
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background);
}

@media (hover: hover) {
  .bayan:hover * {
    cursor: pointer;
  }
}

.bayan {
  height: fit-content;
}

.bayan__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.bayan__item {
  padding: 1.25em 0;
  display: block;
  max-width: 18.125rem;
}

.bayan__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  font-size: 0.875em;
  color: var(--blue);
}

@media (hover: hover) {
  .bayan:hover .bayan__label {
    color: var(--black);
  }
  .bayan__item:hover .bayan__label,
  .bayan:hover input[type="radio"]:checked ~ .bayan__label {
    margin-bottom: 1.25em;
  }
}

input[type="radio"]:checked ~ .bayan__label {
  margin-bottom: 1.25em;
  color: var(--black);
}

.bayan__item:active .bayan__label {
  color: rgba(0, 89, 217, 0.8);
}

.bayan__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  transition: color 0.3s ease;
}

.bayan__icon {
  opacity: 0;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .bayan__item:hover .bayan__icon {
    rotate: 45deg;
  }
  .bayan:hover .bayan__icon {
    opacity: 1;
  }
}

input[type="radio"]:checked + .bayan__label .bayan__icon {
  rotate: 45deg;
  color: var(--black);
}

.bayan__image {
  display: block;
  opacity: 0;
  width: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
  user-select: none;
}

input[type="radio"]:checked ~ .bayan__image {
  display: block;
  width: 10rem;
  opacity: 1;
}

@media (hover: hover) {
  .bayan__item:hover .bayan__image {
    display: block;
    width: 10rem;
    opacity: 1;
  }
}

.bayan__item:active .bayan__image {
  opacity: 0.8;
}
